<div class="container">
<h1> My tasks </h1>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-it">
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<p class="btn btn-primary"><%= link_to "Add a new task", new_task_path %></p>

